* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 60vw; 
    margin: 3%;
    margin-left: 20%;
    font-size: 16px;
 }

p {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 20px;
    margin-left: 20px; 
    border: 1px solid #ccc;
    padding: 15px;
}

select,
textarea,
input {
    margin-bottom: 10px;
    width: 100%; 
    padding: 10px; 
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}


footer {
    padding-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #2077b3; 
}
